:root {
    --header-height: 80px;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    min-height: calc(100vh - var(--header-height));
    padding-top: var(--header-height);
}

.header-container {
    height: var(--header-height);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #130103;
}

.main-container {
    min-height: calc(100vh - var(--header-height));
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #FFD29D;
    justify-content: center;
    align-items: center;
}

.app-container {
    width: 70%;
    height: calc(100vh - var(--header-height));
    min-height: 460px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.viz-container {
    height: 70%;
    width: 100%;
    background-color: #FDE3C6;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, .25);
}

.sticks-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.stick {
    background-color: #550C18;
    border: 1px solid black;
    display: inline-block;
}

.active {
    background-color: #FB504A;
}

.green {
    background-color: #69B578;
}

.viz-options-container {
    width: 100%;
    height: 10%;
    background-color: #69B578;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 30px;
    padding: 10px;
}

.option-container {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button {
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: #130103;
    color: #FDE3C6;
    display: flex; 
    align-items: center; 
    justify-content: center;
    padding: 0 20px 0 20px;
    border-radius: 30px;
    font-size: 1.4rem;
    border: none;
    transition: all 400ms;
}

.button:hover {
    background-color: #550C18;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, .20);
}

select.button {
    background-color: #130103;
    box-shadow: none;
}

.button:disabled:hover {
    background-color: #130103;
}

.algorithm-button:hover {
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, .20);
}

.slider {
    appearance: none;
    width: 100%;
    border-radius: 20px;
    background-color: #FDE3C6;
    opacity: .8;
    transition: all 400ms
}

.slider:hover {
    opacity: 1;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, .20);
}

*:disabled {
    opacity: .5 !important;
}

.slider::-moz-range-thumb {
    background: #130103;
    width: 15px;
    height: 15px;
    border: none;
    cursor: pointer;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 15px; 
    height: 15px;
    border-radius: 999px;
    background: #130103; 
    cursor: pointer;
}

.description-label {
    font-size: 1.4rem;
    color: #FDE3C6;
    margin-bottom: .2em;
}

@media (max-width: 684px) {
    .app-container {
        width: 100%;
        height: calc(100vh - var(--header-height));
        gap: 0;
    }
    .viz-container {
        height: 100%;
        border-radius: 0;
    }
    .viz-options-container {
        border-radius: 0;
    }
}