:root {
    --header-height: 10vh;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    min-height: calc(100vh - var(--header-height));
}

.header-container {
    height: var(--header-height);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: violet;
}

.main-container {
    height: calc(100vh - var(--header-height));
    width: 100%;
    margin-top: var(--header-height);
    display: flex;
    background-color: lightgrey;
    justify-content: center;
    align-items: center;
}

.viz-container {
    height: 70%;
    width: 70%;
    background-color: lightblue;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, .25);
}

.sticks-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.stick {
    background-color: red;
    border: 1px solid black;
    display: inline-block;
}

.active {
    background-color: blue;
}

.green {
    background-color: green;
}

@media (max-width: 684px) {
    .viz-container {
        height: 100%;
        width: 100%;
        border-radius: 0;
    }
}