:root {
  --header-height: 100px;
}

* {
  box-sizing: border-box;
  font-family: monospace;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.project-title {
  font-size: 40px;
  text-align: center;
  color: #ffd29d;
  margin: 0;
  user-select: none;
}

.header-container {
  height: var(--header-height);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #130103;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-container {
  margin-top: var(--header-height);
  min-height: calc(100vh - var(--header-height));
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffd29d;
  justify-content: center;
  align-items: center;
}

.app-container {
  width: 70%;
  height: 85vh;
  min-height: 460px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.viz-container {
  height: 70%;
  width: 100%;
  background-color: #fde3c6;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.25);
}

.sticks-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
}

.stick {
  background-color: #550c18;
  border: 1px solid black;
  display: inline-block;
}

.active {
  background-color: #fb504a;
}

.green {
  background-color: #69b578;
}

.viz-options-container {
  width: 100%;
  height: 10%;
  background-color: #69b578;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 30px;
  padding: 10px;
}

.option-container {
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button {
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: #130103;
  color: #fde3c6;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px 0 20px;
  border-radius: 30px;
  font-size: 1.4rem;
  border: none;
  transition: all 400ms;
}

.button:hover {
  background-color: #550c18;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
}

select.button {
  background-color: #130103;
  box-shadow: none;
}

.button:disabled:hover {
  background-color: #130103;
}

.algorithm-button:hover {
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
}

.slider {
  appearance: none;
  width: 100%;
  border-radius: 20px;
  background-color: #fde3c6;
  opacity: 0.8;
  transition: all 400ms;
}

.slider:hover {
  opacity: 1;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
}

*:disabled {
  opacity: 0.5 !important;
}

.slider::-moz-range-thumb {
  background: #130103;
  width: 15px;
  height: 15px;
  border: none;
  cursor: pointer;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 999px;
  background: #130103;
  cursor: pointer;
}

.pseudocode-container {
  background-color: #ffd29d;
  padding: 10px;
  border-radius: 5px;
  width: fit-content;
}

.pseudocode-title {
  color: #130103;
  font-family: monospace;
  font-size: 22px;
  margin-bottom: 10px;
}

.pseudocode {
  background-color: #130103;
  color: #ffd29d;
  padding: 10px;
  border-radius: 5px;
  font-family: "Courier New", Courier, monospace;
}

.pseudocode .keyword {
  color: #ff6347;
}

.description-label {
  font-size: 1.4rem;
  color: #fde3c6;
  margin-bottom: 0.2em;
}

@media (max-width: 684px) {
  .app-container {
    width: 100%;
    height: 100vh;
    gap: 0;
  }

  .viz-container {
    height: 100%;
    border-radius: 0;
  }

  .viz-options-container {
    border-radius: 0;
  }
}

.navbar {
  display: flex;
  gap: 30px;
}

.navlink {
  text-decoration: none;
  color: #ffd29d;
  transition: all 400ms;
  font-size: 20px;
  user-select: none;
}

.navlink:hover {
  color: #fde3c6;
}

.content-container {
  width: 70%;
  border-radius: 40px;
  box-shadow: 0px 0px 36px -19px rgba(0, 0, 0, 0.4);
  padding: 2.5rem;
  margin: 4rem 0;
}

.title {
  color: #130103;
  margin: 0;
  font-size: 28px;
}

p,
span {
  text-align: justify;
  color: #130103;
  font-weight: 600;
  line-height: 1.6;
  font-size: 16px;
}

span .navlink {
  font-weight: 400;
}

form {
  background-color: #130103;
  color: #fde3c6;
  width: 100%;
  border-radius: 2rem;
  padding: 2rem;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: fit-content;
  box-shadow: 0px 0px 36px -19px rgba(0, 0, 0, 0.4);
}

.form-container {
  width: 30%;
  display: flex;
  justify-content: center;
  min-height: 80vh;
  margin-top: 5rem;
}

label {
  font-weight: 600;
  font-size: 1.4rem;
}

.input-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 0.5rem;
  gap: 0.5rem;
}

.input-field > input {
  background-color: #550c18;
  color: #fde3c6;
  border: none;
  border-radius: 1rem;
  padding: 0.7rem;
  font-size: 1rem;
  border: 1px solid #ffd29d;
  transition: all 400ms;
}

.input-field > input:hover {
  box-shadow: 0px 0px 36px -19px white;
}

input.button.submit {
  font-size: 1.4rem;
  border: 1px solid #ffd29d;
  border-radius: 1.5rem;
  padding: 0.7rem;
  margin-top: 1rem;
}

input.button.submit:hover {
  background-color: #550c18;
  border-color: #130102;
  color: #ffd29d;
  box-shadow: 0px 0px 36px -19px white;
}

span {
  color: #fde3c6;
  font-weight: 400;
  font-size: 1rem;
}

.navlink.register {
  font-size: 1rem;
  text-decoration: underline;
  user-select: text;
}

legend {
  color: #fde3c6;
  font-size: 1.7rem;
  align-self: center;
  font-weight: 600;
  margin-bottom: 1rem;
}
