<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sort Visualiser</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <div class="header-container">
    <h1 class="project-title">Sort Visualiser</h1>
    <nav class="navbar">
      <a href="/" class="navlink">Visualiser</a>
      <a href="/about" class="navlink">About</a>
      <span class='navlink'><a href="/login" class="navlink">Login</a>/<a href="/logout"
          class="navlink">Logout</a></span>
    </nav>
  </div>
  <div class="main-container">
    <h1 class="title">404 - Page Not Found</h1>
    <p>The page you are looking for does not exist.</p>
  </div>
</body>

</html>
